body{
  background: #f4f4f4;
  display: block;
  min-height: 500px;

}

.container {
  min-height: 400px !important;
}

.custom-select {
    width: 20% !important;
}

.form-control{
  width: 20% !important;
}
